mat-card {
  width: 120px;
  height: 90px;
  position: relative;
  margin: 15px;
  float: left;
  background-color: #1e272e;
  color: white;
  border: 1px solid black;
  border-radius: 10px;
  font-family: 'Thasadith', sans-serif;
}
.dark {
  background-color: #0a0a0a;
}

.notes-tray {
  height: auto;
  margin-right: 20px;
  margin-left: 20px;
}

.new-note {
  color: white!important;
  text-decoration: none;
  font-family: 'Thasadith', sans-serif;
}

h1 {
  font-family: 'Thasadith', sans-serif;
  font-weight: 700;
  color: rgb(30,30,30);
}

.big {
  font-size: 200px;
}

.add {
  color: white;
  position: relative;
  top: 5px;
}

.delete {
  float: right;
  position: relative;
  bottom: 15px;
  text-decoration: none;
  color: white;
}

a:hover {
  cursor: pointer
}

.add-note {
  margin-bottom: 30px;
}

.notepad {
  margin-top: 30px;
}