
<!--// Use Angular material to create a card view of each note. Similar to Evernote-->
<!--// Each card will be a link to which a router-outlet will be displayed below the cards.-->
<!--// URL has param of note id, or maybe the note name or something.-->
<!--// The notes will come from a firebase database.-->

<div class="container-fluid">
  <div class="row">
    <div class="col-12 text-center">
        <a (click)="addNote()" class="new-note">
          <i class="material-icons add">add_circle_outline</i>
          Add New Note
        </a>
    </div>
  </div>
  <div class="row">
    <div class="notes-tray col-12">
      <span *ngFor="let note of notes">
        <mat-card (click)="goToNote(note.id)">
          <mat-card-title style="font-size:15px;">{{note.title}}</mat-card-title>
          <mat-card-content style="font-size:10px;">{{note.bodyPreview}}</mat-card-content>
          <mat-card-footer>
            <a (click)="deleteNote(note.id)"><i class="material-icons delete">delete_outline</i></a>
          </mat-card-footer>
        </mat-card>
      </span>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
