<div class="container-fluid">
  <div class="row buttons">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 text-center">
        <a (click)="addNote()" class="new-note">
          <i class="material-icons add-icon">add_circle_outline</i>
          Add New Note
        </a>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-3">
      <a (click)="deleteAllNotes()" class="delete-all-notes" *ngIf="!zeroNotes">
        <i class="material-icons delete-all-icon">delete_outline</i>
        Delete All
      </a>
    </div>
  </div>
  <div class="container-fluid" *ngIf="zeroNotes">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1>No notes found...</h1>
        <i class="material-icons big">error</i>
        <h1>Click "Add Note" to get started!</h1>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="!zeroNotes">
    <div class="notes-tray col-sm-12">
      <span *ngFor="let note of notes$ | async">
        <mat-card class="card" (click)="setCurrentNote(note)">
          <mat-card-title style="font-size:15px;">{{note.titlePreview}}</mat-card-title>
          <mat-card-content style="font-size:10px;">{{note.bodyPreview}}</mat-card-content>
          <mat-card-footer>
            <a (click)="deleteNote(note.id)"><i class="material-icons delete">delete_outline</i></a>
          </mat-card-footer>
        </mat-card>
      </span>
    </div>
  </div>
</div>
<div class="container-fluid notepad" *ngIf="!zeroNotes">
  <div class="row">
    <div class="col-sm-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
